#sleep-page-hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: clamp(12px, 3vw, 32px);
  padding: 40px 0;
  /* background-color: rgb(203, 203, 203); */
}

#sleep-page-hero .h1-content {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

#sleep-page-hero h1 {
  color: var(--PrimaryTextColor-PrimaryText90, #4c525c);
  text-align: center;
  font-family: Poppins;
  font-size: clamp(24px, 3.8vw, 40px);
  font-style: normal;
  font-weight: 600;
  line-height: 114%;
  position: relative;
}

#sleep-page-hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(12px, 3vw, 32px);
  overflow-x: hidden;
}

.hero-stars-left {
  left: -20%;
  width: clamp(45px, 7vw, 90px);
  top: -4%;
}
.hero-stars-right {
  right: -20%;
  width: clamp(50px, 7vw, 70px);
}

.hero-stars-left,
.hero-stars-right {
  position: absolute;
  height: auto;
  object-fit: contain;
}

#sleep-page-hero p {
  max-width: 582px;
  color: var(--PrimaryTextColor-PrimaryText90, #4c525c);
  line-height: 120%;
  padding: 0 16px;
  font-size: clamp(14px, 2vw, 20px);
}

#sleep-page-hero h1 span:first-of-type {
  color: var(--SecondaryColor-Blue60, #019bf0);
}
#sleep-page-hero h1 span:last-of-type {
  color: var(--PrimaryColor-Blue70, #185baa);
}

.sleep-page-cta {
  width: fit-content;
  border: none;
  font-weight: 600;
  padding: clamp(12px, 2vw, 16px) clamp(32px, 3vw, 40px);
  border-radius: 28px;
  color: var(--Primary-CTA-Font, #fff);
  font-size: clamp(13px, 2vw, 15px);
  background: var(--PrimaryColor-Blue70, #185baa);
}

.hero-mobile-bed {
  width: 150%;
  max-width: 750px;
}

.hero-bed-left,
.hero-bed-right {
  display: none;
}

@media screen and (width > 1024px) {
  #sleep-page-hero .hero-content {
    overflow-x: unset;
  }
  #sleep-page-hero {
    flex-direction: row;
  }
  .hero-bed-left,
  .hero-bed-right {
    display: block;
    width: 300px;
    height: auto;
  }
  .hero-mobile-bed {
    display: none;
  }
}

/* Bedroom Fullscreen BG */

.sp-bedroom-bg-sm,
.sp-bedroom-bg-lg {
  width: 100vw;
  height: auto;
  object-fit: cover;
  margin-top: clamp(32px, 3vw, 100px);
  max-width: 1400px;
}

.sp-bedroom-bg-lg {
  display: none;
}

@media screen and (width > 600px) {
  .sp-bedroom-bg-sm {
    display: none;
  }
  .sp-bedroom-bg-lg {
    display: block;
  }
}

/*  */
/*  */

#sp-choosing-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: clamp(32px, 5vw, 40px);
  max-width: 1200px;
  margin: 0 auto;
}

#sp-choosing-section > div:first-of-type > h2 {
  color: var(--PrimaryTextColor-PrimaryText90, #4c525c);
  font-weight: 600;
  line-height: 145.833%;
  font-size: clamp(24px, 3.8vw, 40px);
}

#sp-choosing-section > div:first-of-type {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#sp-choosing-section > div:first-of-type > h2 span:first-of-type {
  color: var(--SecondaryColor-Blue60, #019bf0);
}
#sp-choosing-section > div:first-of-type > h2 span:last-of-type {
  color: var(--PrimaryColor-Blue70, #185baa);
}

#sp-choosing-section > div:first-of-type > p {
  color: var(--PrimaryTextColor-PrimaryText90, #4c525c);
  font-size: clamp(14px, 2vw, 20px);
  line-height: 150%;
}

.sp-choosing-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.sp-choosing-item {
  display: flex;
  gap: clamp(16px, 8vw, 32px);
  flex: 1;
  align-items: center;
}

.sp-choosing-item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 112.5%;
  gap: 12px;
}
.sp-choosing-item strong {
  color: var(--SecondaryColor-Blue60, #019bf0);
  font-size: clamp(48px, 3vw, 64px);
  font-weight: 600;
  width: 24px;
}

.sp-choosing-item p {
  color: var(--Neutral-Grey, #717171);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  max-width: 250px;
}

@media screen and (width > 500px) {
  #sp-choosing-section > div:first-of-type {
    flex-direction: row;
    justify-content: space-between;
  }

  #sp-choosing-section > div:first-of-type > p {
    width: 75%;
  }
  #sp-choosing-section > div:first-of-type > h2 br {
    display: none;
  }

  .sp-choosing-container {
    align-items: center;
  }

  .sp-choosing-item:nth-of-type(2) {
    margin-left: clamp(30px, 10vw, 90px);
  }
  .sp-choosing-item:nth-of-type(3) {
    margin-left: clamp(60px, 20vw, 180px);
  }
}

@media screen and (width > 768px) {
  #sp-choosing-section {
    flex-direction: row;
  }
  #sp-choosing-section > div:first-of-type {
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 48%;
  }

  .sp-choosing-container {
    gap: 12px;
  }

  #sp-choosing-section > div:first-of-type > h2 br {
    display: block;
  }
}

/*  */
/*  */

#sleep-page-best-match {
  text-align: center;
  padding: 0 16px;
  margin: clamp(32px, 3vw, 40px) 0;
}

#sleep-page-best-match h2 {
  font-size: clamp(20px, 3vw, 32px);
  font-weight: 600;
  color: var(--PrimaryTextColor-PrimaryText90, #4c525c);
}

#sleep-page-best-match > p {
  color: var(--Neutral-Grey, #717171);
  font-size: clamp(13px, 2vw, 20px);
}

#sleep-page-best-match h2 span:first-of-type {
  font-weight: 700;
  color: var(--SecondaryColor-Blue60, #019bf0);
}
#sleep-page-best-match h2 span:last-of-type {
  font-weight: 700;
  color: var(--PrimaryColor-Blue70, #185baa);
}

.best-match-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: clamp(16px, 3vw, 32px);
  padding: 20px 0;

  /* display: grid; */
}
.best-match-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.best-match-item > div:first-of-type img {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 16px;
}
.best-match-item > div:first-of-type {
  display: flex;
  gap: clamp(8px, 1.5vw, 16px);
}

.best-match-item > div:first-of-type > div {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.best-match-item > div:first-of-type > div h3 {
  color: var(--SecondaryColor-Blue60, #019bf0);
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-bottom: 4px;
}
.best-match-item > div:first-of-type > div h3 span {
  color: var(--PrimaryColor-Blue70, #185baa);
}

.best-match-item > div:first-of-type > div p {
  max-width: 350px;
  font-size: clamp(12px, 1.8vw, 14px);
  font-weight: 400;
  line-height: 150%;
  color: var(--SecondaryGray-SecondaryText-SecondaryGray80, #767676);
}

.best-match-chips {
  display: flex;
  gap: 8px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.best-match-chips::-webkit-scrollbar {
  display: none;
}

.best-match-chips > div {
  color: var(--SecondaryGray-SecondaryText-SecondaryGray80, #767676);
  font-size: 11px;
  line-height: 114%;
  font-weight: 400;
  padding: 8px;
  border: 1px solid;
  border-radius: 17px;
  border: 1px solid var(--stroke, #dadce0);
  text-wrap: nowrap;
}

@media screen and (width > 600px) {
  .best-match-container {
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  .best-match-item {
    position: relative;
    flex: 1 1 0;
    min-width: 250px;
    max-width: 350px;
  }
  .best-match-item > div:first-of-type {
    flex-direction: column;
    position: relative;
    background: white;
  }
  .best-match-item > div:first-of-type img {
    width: 110%;
  }
  .best-match-chips,
  .best-match-item > div:first-of-type > div p {
    display: none;
    background-color: white;
  }

  .best-match-item > div:first-of-type > div h3 {
    margin: unset;
  }

  .item-img-div {
    max-height: clamp(180px, 15vw, 225vw);
    border-radius: 30px;
    overflow: hidden;
  }

  /*  */
  .best-match-item > div:first-of-type > div h3 {
    /* visibility: hidden; */
  }
  .best-match-item:hover > div:first-of-type > div p {
    position: absolute;
    display: flex;
    bottom: 8%;
    padding: 12px;
    animation: slideUp 0.5s ease-out forwards;

    /* display: none; */
  }

  .best-match-item:hover .best-match-chips {
    position: absolute;
    display: flex;
    bottom: -2%;
    width: 100%;
    animation: slideUp 0.8s ease-out forwards;

    /* display: none; */
  }

  .best-match-item:hover > div:first-of-type > div h3 {
    visibility: hidden;
  }

  .best-match-item:hover > div:first-of-type img {
    width: 100%;
    transition: width 0.5s ease-in-out;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*  */
/* Partner Brands Section */
#partner-brands-section > h2 {
  text-align: center;
  color: var(--SecondaryColor-Blue60, #019bf0);
  text-align: center;
  font-size: clamp(20px, 2vw, 28px);
  font-weight: 700;
  margin-bottom: clamp(0px, 2vw, 12px);
}
#partner-brands-section > h2 span {
  color: var(--PrimaryColor-Blue70, #185baa);
}

#partner-brands-section .brand-card-container {
  display: grid;
  gap: 16px;
  padding: 16px;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}

#partner-brands-section .brand-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(175px, 15vw, 212px);
  border-radius: 12px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.brand-card > img {
  height: 90%;
  width: auto;
  object-fit: contain;
  max-width: 120px;
}

#partner-brands-section .salem {
  background-color: #dff5dc;
}

#partner-brands-section .ambassadorbed {
  background-color: #edf0f5;
}

#partner-brands-section .uratex {
  background-color: #dee7ff;
}

#partner-brands-section .emma {
  background-color: #ffeee0;
}

#partner-brands-section .joyce {
  background-color: #e9ebf3;
}

#partner-brands-section .serta {
  background-color: #fefbea;
}

#partner-brands-section .cta {
  background-color: #e6f0ff;
  border-radius: 12px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: span 2;
  gap: 12px;
  color: var(--Primary-CTA-Font, #fff);
}

#partner-brands-section .cta h2 {
  color: #2a5caa;
  font-size: clamp(20px, 2vw, 28px);
  line-height: 114%;
  font-weight: 600;
}

#partner-brands-section .cta p {
  color: var(--PrimaryTextColor-PrimaryText90, #4c525c);
  font-size: clamp(12px, 2vw, 16px);
}

#partner-brands-section .cta button {
  background: var(--PrimaryColor-Blue70, #185baa);
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 999px;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.9rem;
}

.cta button:hover {
  background-color: #0044c6;
}

.brand-card > img {
  height: 70%;
  width: auto;
  object-fit: contain;
  max-width: 55%;
}

.brand-card-img-hovered {
  opacity: 0;
  position: absolute;
}

.brand-card:hover > .brand-card-img-hovered {
  max-width: unset !important;
  width: 100% !important;
  height: auto !important;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.brand-card:hover > img:not(.brand-card-img-hovered) {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

/* Tablet: 3 columns */
@media (min-width: 600px) {
  #partner-brands-section .brand-card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #partner-brands-section .cta {
    grid-column: span 3;
  }
}

/* Desktop: 4 columns */
@media (min-width: 900px) {
  #partner-brands-section .brand-card-container {
    grid-template-columns: repeat(4, 1fr);
  }

  #partner-brands-section .brand-card {
  }
  #partner-brands-section .cta {
    grid-column: span 2;
    align-items: start;
    padding: 50px;
  }
}

/*  */
/*  */
